# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/credentials.toml

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Generated tests and coverage
cov.json
.coverage
htmlcov/
